body {
	background-image: url(http://bloximages.chicago2.vip.townnews.com/azdailysun.com/content/tncms/assets/v3/editorial/6/87/68771ae5-dffd-5b92-b245-22aa443accdf/56df5c840547b.image.jpg?resize=1200%2C805);
	background-size: cover;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}